*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    
}

#sec1{
    /* border: 2px solid purple; */
    height: 200px;
    width: 100%;
}



#main1 a{
    display: inline-block;
    background: #e7746f;
    color: #fff;
    position: absolute;
    top: -120%;
    left: 5%;
    border-radius: 4px;
    padding: 0.1em 0.3em;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.3em;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.para1{
    font-size: 2.5em;
    line-height: 1.35em;
    font-weight: 200;
    letter-spacing: -1.5px;
    position: absolute;
    top: -100%;
    left: 5%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #676d79;
   
}
.features p{
    border: 2px solid;
    padding-top: 0.5%;
    padding-left: 0.6%;
    border-color: #676d79;
    fill: #676d79;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: -130%;
    left: 50%;
    box-shadow: 0 0 0 1px #dee0e3;
}
.features img{
   box-sizing: border-box;
    padding: 18% 20%;
}
.iconresponsive{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 9em;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #676d79;
    letter-spacing: -0.5px;
    position: absolute;
    left:47%;
    top: -81%;
}
.features1 p{
    border: 2px solid;
    padding-top: 0.5%;
    padding-left: 0.6%;
    border-color: #676d79;
    fill: #676d79;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: -130%;
    left: 64%;
    box-shadow: 0 0 0 1px #dee0e3;
}
.features1 img{
   box-sizing: border-box;
    padding: 18% 20%;
}
.iconcode{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 9em;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #676d79;
    letter-spacing: -0.5px;
    position: absolute;
    left:61%;
    top: -80%;
}
.features2 p{
    border: 2px solid;
    padding-top: 0.5%;
    padding-left: 0.6%;
    border-color: #676d79;
    fill: #676d79;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: -130%;
    left: 79%;
    box-shadow: 0 0 0 1px #dee0e3;
}
.features2 img{
   box-sizing: border-box;
    padding: 18% 20%;
}
.iconsetting{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 9em;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #676d79;
    letter-spacing: -0.5px;
    position: absolute;
    left:75%;
    top: -80%;
}
.features3 p{
    border: 2px solid;
    padding-top: 0.5%;
    padding-left: 0.6%;
    border-color: #676d79;
    fill: #676d79;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: -130%;
    left: 93%;
    box-shadow: 0 0 0 1px #dee0e3;
}
.features3 img{
   box-sizing: border-box;
    padding: 18% 20%;
}
.icongift{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 9em;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #676d79;
    letter-spacing: -0.5px;
    position: absolute;
    left:90%;
    top: -80%;
}
nav{
    border: 2px solid gold;
    height: 420px;
    width: 100%;
}
/* main{
    border: 2px solid green;
    height: 1000px;
    width: 80%;
    position: absolute;
    left: 80px;

} */
#main1{
    /* border: 2px solid red; */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 450px;
    left: 7%;
    /* justify-content: center; */
}
#d1{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 530px;
    font-size: 40px;
    font-weight: 800;
}
#span1{
    border: 1px solid black;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 610px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;

}
#b1{
    height:50px;
    width: 200px;
    position: absolute;
    top: 610px;
    left: 860px;
    color:#fff;
    background-color:#000; 
}
#main2{
    /* border: 2px solid red; */
    height: 300px;
    width:86%;
    position: absolute;
    top: 790px;
    left: 7%;
    align-items: center;
    
    /* justify-content: center; */
}
#d2{
    /* border: 2px solid white; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 730px;
    top: 860px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span2{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 1000px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color: #fff;

}
#b2{
    height:50px;
    width: 200px;
    position: absolute;
    top: 1000px;
    left: 860px;
    color:#000;
    background-color:#fff;   
}   

#main3{        
    border: 2px solid red;    
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 1130px;
    left: 7%;
    /* justify-content: center; */
}
#d3{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 1220px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span3{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 1290px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color: #fff;

}
#b3{
    height:50px;
    width: 200px;
    position: absolute;
    top: 1290px;
    left: 860px;
    color:rgb(177, 119, 98);
    background-color:#fff;  
}
#main4{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 1130px;
    left: 7%;
    /* justify-content: center; */
}
#d4{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 1220px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span4{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 1290px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color: #fff;

}
#b4{
    height:50px;
    width: 200px;
    position: absolute;
    top: 1290px;
    left: 860px;
    color: #3D8089;
    background-color:#fff;  
}
#main5{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 1470px;
    left: 7%;
    /* justify-content: center; */
}
#d5{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 1550px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span5{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 1690px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color: #fff;

}
#b5{
    height:50px;
    width: 200px;
    position: absolute;
    top: 1690px;
    left: 860px;
    color: #000;
    background-color:#fff;  
}
#main6{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 1470px;
    left: 7%;
    /* background: #676D79; */
    /* justify-content: center; */
}
#d6{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 1550px;
    font-size: 40px;
    font-weight: 800;
    color: #676D79;
}
#span6{
    border: 1px solid #585d67;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 1630px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color:#606671;
}
#b6{
    height:50px;
    width: 200px;
    position: absolute;
    top: 1630px;
    left: 860px;
    color: #fff;
    background: #676D79;  
}
#main7{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 1820px;
    left: 7%;
    /* background: #676D79; */
    /* justify-content: center; */
}
#d7{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 1910px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span7{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 1980px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color:#fff;
}
#b7{
    height:50px;
    width: 200px;
    position: absolute;
    top: 1980px;
    left: 860px;
    color: #2C304B;
    background: #fff;  
}
#main8{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 2170px;
    left: 7%;
    /* background: #676D79; */
    /* justify-content: center; */
}
#d8{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 2250px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span8{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 2320px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color:#fff;
}
#b8{
    height:50px;
    width: 200px;
    position: absolute;
    top: 2320px;
    left: 860px;
    color: #7473AD;
    background: #fff;  
}
#main9{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 2170px;
    left: 7%;
    /* background: #676D79; */
    /* justify-content: center; */
}
#d9{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 2250px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span9{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 2320px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color:#fff;
}
#b9{
    height:50px;
    width: 200px;
    position: absolute;
    top: 2320px;
    left: 860px;
    color: #000;
    background: #fff;  
}
#main10{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 2520px;
    left: 7%;
    /* background: #676D79; */
    /* justify-content: center; */
}
#d10{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 2620px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span10{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 2720px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color:#fff;
}
#b10{
    height:50px;
    width: 200px;
    position: absolute;
    top: 2720px;
    left: 860px;
    color: #D87D8F;
    background: #fff;  
}
#main11{        
    /* border: 2px solid red;     */
    height: 300px;
    width:86%;
    position: absolute;
    align-items: center;
    top: 2870px;
    left: 7%;
    /* background: #676D79; */
    /* justify-content: center; */
}
#d11{
    /* border: 2px solid palevioletred; */
    height: 50px;
    width: 290px;
    position: absolute;
    left: 740px;
    top: 2950px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
#span11{
    border: 1px solid #fff;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 3020px;
    left: 740px;
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-weight: 700;
    color:#fff;
}
#b11{
    height:50px;
    width: 200px;
    position: absolute;
    top: 3020px;
    left: 860px;
    color: #3C1C5B;
    background: #fff;  
}






















/* footer */

#mainend li{
    width: 100%;
    list-style: none;
    font-size: large;
    font-family: sans-serif;
    color: #676d79;
    margin-left: 15%;
    margin-top: 3060px;
    align-items: center;
    justify-content: space-between;
}
#mainend li+li{
    list-style: disc;
    margin-left: 38%;
    margin-top: -20px;
}
.searchlast{
    width: 500px;
    height: 50px;
    font-size: large;
    font-weight: 100;
    color: #676d79;
    text-align: left;
    margin-top: 5%;
    margin-left: 20%;
    
}
.subscribe{
    height: 50px;
    width: 90px;
    margin-left: 1%;
    font-size:small;
}
.subscribe:hover{
cursor: pointer;
border-color:  #e7746f;
color: #e7746f;
}
.footdata{
    margin-left: 1%;
    margin-top: 1%;
    border: 2px solid gray;
    height: 40px;
    width: 160px;
    margin-top: 2%;
    margin-left: 45%;
    align-content: center;
}
.footdt{
    margin-left: 0%;
    margin-top: 0%;
    height: 40px;
    width: 160px;
    
}
#likeb{
    height: 4px;
    width: 30px;
}
.fttwitter{
    /* border: 2px solid black; */
    height: 26px ;
    width: 10px;
    position: absolute;
    top: 360px;
    left: 440px;
}

.lastline{
    font-family: sans-serif;
    color: #676d79;
    margin-top: 7%;
    margin-left: 37%;
    /* margin-bottom: 10px; */
    padding-bottom: 70px;
}
